.App {
  text-align: center;
}

input {
  margin: 10px;
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
button {
  margin: 10px;
  height: 60px;
  width: 100px;
  border: none;
  background-color: coral;
  border-radius: 5px;
  color: white;
}
button:hover {
  cursor: pointer;
}
ul {
  display: absolute;
  place-items: center;
}
li {
  list-style-type: none;
  width: 300px;
  height: 40px;
  background-color: rgb(87, 223, 87);
  margin: 10px;
  padding-top: 20px;
  font-family: monospace;
  font-size: 23px;
  border-radius: 3px;
  color: white;
}
#task {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#red:hover {
  cursor: pointer;
}
h2 {
  font-family: monospace;
  margin-left: 20px;
}
